# App
PORT=3000
NODE_ENV=development

# Database (PostgreSQL via Docker)
# docker compose up db -d
DATABASE_URL=postgresql://postgres:postgres@localhost:5432/gymbro?schema=public

# Redis (via Docker)
# docker compose up redis -d
REDIS_URL=redis://localhost:6379/0
